#container{
    background-color: #008080;
}
.center{
    background-color: #F0FFF0;
    margin: 1% 10% 1% 10%;
    width: 80%;
    height: 50%;
}
.search-bar{
    width: 50%;
}
h1{
    text-align: center;
}
form{
    margin: 1% 5% 1% 5%;
}
button{
    border-radius: 10%;
    border: 2px solid #4CAF50;
}
label{
    font-size: 40rm;
}
footer{
    text-align: center;
    background-color: aliceblue;
}
.results{
    border: 1px solid #008080;
    border-radius: 10%;
}